@model researchOnlineWebsite.Models.ResearchContent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ResearchContent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResearchPdf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResearchPdf)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResearchPdfUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResearchPdfUrl)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specialize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specialize)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatId)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ResearchId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
